* {
    background-color:antiquewhite;
}

a { text-decoration:none; color:inherit }
a:active {text-decoration: none; color: inherit;}

header {
    font-family: fantasy;
    font-size: 65px;
    text-align: center;
    margin: 30px;
    text-shadow: -4px 4px 6px dimgrey;
}

nav {
    display: flex;
    margin-left: 75px;
    font-family: Arial;
}

.navi {
    font-size: 30px;
    margin-right: 35px;
}

.content {
    margin-left:60px;
    font-size: 20px;
    font-family: Arial;
}

#navi_select {
    border-bottom: solid 3px red;
    border-top: solid 3px red;
    padding: 3px 0;
}

hr {
    margin: 25px 60px;
    border-bottom: 0px;
    border: solid;
}

.input_box {
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(247, 212, 212);
    border-radius: 10px;
    height: 20px;
    width: 200px;
    font-size: 16px;
}

.button {
    margin-left: 15px;
    width: 120px;
    height: 35px;
    padding: 3px;
    font-size: 18px;
    font-family: Arial;
    border-radius: 10px;
    border: solid 2px rgb(247, 212, 212);
    color: rgb(156, 156, 156);
}